/* MARK: Swiper Wrapper */

.swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height
}


/* MARK: Slide */

.swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-auto-height .swiper-slide {
    height: auto;
}

.swiper-slide .slider--item{
    position: relative;
    overflow: hidden;
    padding: 300px 0px 200px 0px;
}

/* MARK: Slide Image */

.swiper-slide .slide-image{
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all 4s linear;
}

/* MARK: Slide Text  */

.row .swiper-col {
    width: 50%;
    padding: 0px 12px;
    color: var(--color-white);
}

.row .swiper-col h5{
    font-size: 20px;
    font-family: var(--font-family-heading);
    font-weight: var(--fw-semibold);
    padding-bottom: 10px;
}

.row .swiper-col h1{
    font-size: 54px;
    line-height: 1.25em;
    font-family: var(--font-family-heading);
    font-weight: var(--fw-semibold);
    padding-top: 10px;
    margin-bottom: 50px;
    transition: all 1000ms ease;
}

/* MARK: Background Items */

.slide-item-layer{
    position: absolute;
    z-index: -1;
    user-select: none;
}

.slide-item-layer-one{
    background-image: url("/Images/Icons/dots.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 140px;
    top: -10%;
    left: -4%;
    animation: arrow-down-up 2s linear infinite alternate;
}

@keyframes arrow-down-up{
    0%{
        top: -5%;
    }
    100%{
        top: -20%;
    }
}

.slide-item-layer-two{
    visibility: visible;
    opacity: 1;
    background-image: url("/Images/Bg-tyre.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 350px;
    height: 400px;
    top: 0%;
    left: -25%;
    animation: tyre-rotate 10s linear infinite alternate;
}

@keyframes tyre-rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}


/* MARK: Pagination */
.swiper-pagination{
    user-select: none;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    opacity: 1;
    background: var(--color-gray)
  }
  
  .swiper-pagination-bullet-active {
    background: var(--color-red);
  }



  /* MARK: Media Queries */

  @media (max-width: 1280px) {
    .row .swiper-col{
        width: 50%;
    }
    .row .swiper-col h1{
        font-size: 45px;
    }
}

@media (max-width: 1024px) {
    .row .swiper-col{
        width: 60%;
    }
    .row .swiper-col h1{
        font-size: 40px;
    }
    .slide-item-layer-two{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .row .swiper-col{
        width: 100%;
    }
    .row .swiper-col h1{
        font-size: 30px;
    }
    .swiper-pagination{
        display: none;
        visibility: hidden;
        opacity: 0;
    }
}



/* MARK: MODAL */
.modal-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.modal-card{
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgb(69, 69, 69);
    cursor: pointer;
}
.modal-card:hover{
    transform: scale(1.2);
}

.modal-image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}