

.slide-to-right{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    overflow: hidden;
    /* margin-left: -25px; */
}

.auto-item-container {
    background-color: var(--color-one);
    position: relative;
    padding: 11px 0;
    white-space: nowrap;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.auto-item-container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.646);
    left: 0;
}

.auto-item-container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.646);
    left: 0;
}

.auto-item-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}


.auto-item-text{
    margin-bottom: 0;
    position: relative;
    letter-spacing: 1.92px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: rgba(var(--color-white-rgb), 0.6);
    text-align: center;
    font-family: var(--font-family-base);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.auto-item-text svg{
    margin: 4px 29px;
    animation: spin-star 5s linear infinite;
}


/* @media screen and (min-width:1024px){
    .slide-to-right{

    }
} */



/* MARK: Animations */

.slide-to-right .auto-item-inner {
    animation: slide-to-right 30s linear infinite;
}

@keyframes slide-to-right{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.slide-to-left .auto-item-inner {
    animation: slide-to-left 30s linear infinite;
}

@keyframes slide-to-left {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
} 


@keyframes spin-star {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}