/* MARK: HEADER */

.header {
    position: fixed;    
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--color-black);
    border-bottom: 1px solid var(--color-white);
    box-shadow:0px 4px 40px 0px rgba(var(--color-black), 0.35);
    z-index: 9;
    transition: var(--transition-base);
    backdrop-filter: blur(30px);
}

.header-top {
    display: none;
    background-color: red;
    display: flex;
    align-items: center;
    max-height: 77px;
    color: var(--color-white);
}

/* Inside Left Box */
.info-list li {
    position: relative;
    display: inline-block;
    line-height: 1em;
    margin-right: 30px;
}

.info-list li+li {
    border-left: 1px solid var(--color-white);
    padding-left: 30px;
}

/* Inside Right Box */

.social-box li{
    position: relative;
    display: inline-block;
    line-height: 1em;
    margin-right: 30px;
}

.social-box li + li {
    border-left: 1px solid var(--color-white);
    padding-left: 30px;
}

/* MARK:BOTTOM HEADER */

.header .header-bottom {
    transition: var(--transition-base);
}


.header-bottom .left-part h1{
    font-family: var(--font-family-heading);
    color: var(--color-white);
    font-weight: var(--fw-bolder);
    font-size: var(--fs-48);
}

.header-bottom .right-part {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 84px;
    border-left: 1px solid var(--color-white);
}

/* MARK: main nav & main menu */

.main-nav .main-menu li{
    display: inline-block;
    color: var(--color-white);
    font-weight: var(--fw-normal);
    font-size: 18px;
    margin-left: 50px;
    position: relative;
}

@media screen and (min-width: 1380px){
    .main-nav .main-menu li{
        margin-left: 70px;
    }
}
@media screen and (min-width: 1500px){
    .main-nav .main-menu li{
        margin-left: 100px;
    }
}


.active {
    color: var(--color-red) !important;
    position: relative !important;
}
.active a::before {
    content: "";
    height: 2px;
    width: 30px;
    background-color: var(--color-red);
    position: absolute;
    left: auto;
    top: 50%;
    right: calc(100% + 9px);
}


/* MARK: Cart */
.cart {
    padding-right: 30px;
    cursor: pointer;
    position: relative;
}

.cart-menu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 300px;
    background-color: rgb(64, 63, 63);
    z-index: 998;
}

.hide-cart-menu {
    display: none;
    height: 0px;
    visibility: hidden;
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .cart-menu{
        top: 40px;
        right: -70px;
    }
}


.right-part .cart h1 {
    color: var(--color-white);
    font-size: 18px;
}

/* MARK: User Box */

.user-box{
    height: 84px;
    padding: 12px 50px;
    color: var(--color-white);
    border-left: 1px solid var(--color-white);
}

.user-box .user-icon {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: var(--color-red);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 2;
}
.user-box .user-icon:hover{
    transform: rotateZ(360deg);
}

.user-box .user-icon::before{
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(243, 52, 52, 0.559);
    border-radius: 100%;
    z-index: -1;
}

.user-box .user-icon span:hover{
    transform: rotate(360deg);
}


/* MARK: Aside mneu */

.aside-menu {
    background-color: var(--color-red);
    color: var(--color-white);
    height: 84px;
    width: 85px;
    position: relative;
    border-left: 1px solid var(--color-white);
    cursor: pointer;
}

.aside-menu .inner-aside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aside-menu .inner-aside span {
    font-size: var(--fs-32);
    display: block;
    color: var(--color-white);
    transition: .25s margin .25s, .25s transform;
}

.aside-menu .inner-aside span:not(:last-child) {
    margin-bottom: 5px;
}

.aside-content{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: -400px;
    max-width: 400px;
    height: 100vh;
    background-color: var(--color-black);
    z-index: 997;
    overflow: hidden;
    transform: scale(0);
    transition: var(--transition-base);
}


.aside-open{
    opacity: 1;
    right: 0;
    width: 400px;
    height: 100vh;
    transform: scale(1);
    visibility: visible;
}


.aside-content .close-btn{
    z-index: 997;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: var(--fs-48);
}

.aside-content .close-btn:hover{
    color: var(--color-red);
}


/* MARK: Mobile Nav */
.mob-nav{
    background-color: var(--color-gray);
    color: var(--color-white);
    height: 84px;
    width: 85px;
    position: relative;
    border-left: 1px solid var(--color-white);
    cursor: pointer;
}

.mob-nav .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mob-nav .inner span {
    font-size: var(--fs-32);
    display: block;
    color: var(--color-white);
    transition: .25s margin .25s, .25s transform;
}

.menu-content {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    max-width: 400px;
    height: 100vh;
    background-color: var(--color-black);
    z-index: 997;
    overflow: hidden;
    transition: var(--transition-base)
}

.menu-open {
    opacity: 1;
    width: 300px;
    height: 100vh;
    visibility: visible;
}

.menu-content .close-btn{
    z-index: 997;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: var(--fs-48);
}

.menu-content .close-btn:hover{
    color: var(--color-red);
}

.mob-menu {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.mob-menu li{
    position: relative;
    text-align: left;
    font-size: var(--fs-20);
    width: 100%;
    border-top: 1px solid var(--color-three);
}

.mob-menu li:last-child{
    border-bottom: 1px solid var(--color-three);
}

.mob-menu li:hover{
    color: var(--color-red);
}

.mob-menu .active {
    color: var(--color-red);
}
.mob-menu li.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-red);
}

.mob-menu li a {
    padding: 20px 15px ;
    display: block;
    width: 100%;
    height: 100%;
}


/* MARK: Media Query */

@media screen and (max-width: 1280px){
    .right-part{
        border-width: 0px;
    }
}

@media screen and (max-width:425px){
    
    .header-bottom .left-part h1{
        font-size: var(--fs-40);
    }
}

@media screen and (min-width:1280px){
    .header-top {
        display: block;
        border-bottom: 1px solid var(--color-white);
    }
}